RewriteEngine On 

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteRule ^login/?$ public/login.php [NC,L]

RewriteRule ^list-user/?$ public/list-user.php [NC,L]
RewriteRule ^detail-profile/?$ public/detail-profile.php [NC,L]
RewriteRule ^list-data/?$ public/list-data.php [NC,L]

RewriteRule ^add-user/?$ public/add-user.php [NC,L]
RewriteRule ^add-document/?$ public/add-document.php [NC,L]